
/* COLOR SCHEME */

:root {
  --primary-color: rgb(13, 35, 73);
  --secondary-color: rgb(5, 60, 156);
  --text-color: black;
  --header-color: rgb(218, 225, 237);
  --background-color: white;
}

.page {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.container {
  border:solid 1px;
  border-color: var(--secondary-color);
  border-radius: 10px;
  margin-top: 5px;
}
.section-title {
  color: var(--primary-color);
}
.header-container {
  background-color: var(--header-color);
}
.job-title,
.degree-title {
  background-color: var(--header-color);
}
.job-where {
  color: var(--secondary-color)
}


/* Header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  border-bottom-right-radius: 60%;
}

.photo-container {
  margin-right: -25%;
  margin-left: -15%;
}

.header-photo {
  width: 45%;
  margin: 10px;
  border-radius: 5%;
}

.header-name {
  font-size: 28px;
  font-weight: bold;
}


/* Block containers styling */
.block-row-container {
  display: flex;
  justify-content: space-between;
}

.block-col-container {
  width: 48%;
}

/* Bio styling */
.bio-container {
  width: 100%;
  padding-top: 2%;
}

.bio-category {
  font-size: 1.2rem;
  font-weight: bold;
}

.bio-key {
  font-weight: bold;
  padding-right: 1rem;
}

.bio-prop {
  padding: 0.2rem 0;
  text-indent: 20px;
}

/* Work styling */
.work-container {
  width: 100%;
  padding-top: 2%;
}

.work-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0%;
  padding-left: 6px;

}

.job-title {
  font-weight: bold;
  font-size: 0.9rem;
  padding-left: 6px;
  border-radius: 5px;
}

.job-when {
  font-style: italic;
  padding-left: 6px;
}

.job-where {
  padding-bottom: 0.5rem;
  padding-left: 6px;
}

.job-task {
  text-indent: 5%;

}

/* Education styling */
.education-container {
  width: 100%;
}

.education-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2%;
}

.degree-title {
  padding-left: 6px;
  font-weight: bold;
  font-size: 0.9rem;
  width: 50vw;
  border-radius: 5px;
}

.degree-course {
  padding-left: 6px;
  font-weight: bold;
}

.degree-when {
  padding-left: 6px;
  font-style: italic;
}

.degree-where {
  padding-left: 6px;
}
.degree-link {
  padding-left: 6px;
}
/* Skills styling */
.skills-container {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.skills-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.skills-item {
  text-indent: 20px;
  margin: 1%;
}

.hobbies-container {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 18%;
}

.hobbies-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.hobbies-item {
  text-indent: 20px;
  margin: 1%;
}

